body {
	background-color:#eae289;
}

.div1 {
	background-color:#000000;
	float:left;
	padding:10px;
	width:300;
	height:300;
	text-align:center;
}

.div2 {
	background-color:blue;
	float:left;
	padding:10px;
	text-align:center;
	border:2px solid #FFFFFF;
}

.h1 {
	color:white;
}

.h1back {
	background-color:#eae289;
	height:250px;
	width:250px;
	float:left;
}

h3 {
	color:#29b7db;
	font:23 comic sans ms;
	font-weight:bold;
}

.SearchColumn {
	float:left;
	padding:15px;
	background-color:white;
	color:#29b7db;
	width:960px;
	height:300px;
	border:3px solid #29b7db;
}

.colTable{
	position:relative;
	top:20px;
}

.textStyle {
	color:#29b7db;
	font:17px comic sans ms;
	font-weight:bold;
}

.img {
	position:absolute;
	right:310px;
}

input {
	background:#29b7db;
	color:black;
	font-weight:bold;
	height:27px;
	right:700px;
}

input:hover {
	background:black;
	color:#29b7db;
}
 
input:focus {
	background:black; 
	color:#29b7db;
}

button {
	background:#29b7db;
	color:black;
	font-weight:bold;
	height:27px;
}

button:hover {
	background:black;
	color:#29b7db;
}
 
button:focus {
	background:black; 
	color:#29b7db;
}

.red {
	background-color:red;
	color:white;
}

.blue {
	background-color:blue;
	color:white;
}

.searchAgain {
	visibility:hidden;
}

table {
	width:200px;
	border:2px solid #000000;
}

tr {
	border:2px solid #000000;
}

td {
	width:100px;
	border:2px solid #000000;
}

th {
	width:150px;
}